{{ form_start(form) }}
    <div class="formField">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="formField">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="formField">
        {{ form_label(form.lastname) }}
        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname, {'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="formField">
        {{ form_label(form.phone) }}
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone, {'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="formField">
        {{ form_label(form.subRoles) }}
        {{ form_errors(form.subRoles) }}
        {{ form_widget(form.subRoles, {'attr' : {'class':'form-file'}}) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save')|trans }}</button>
{{ form_end(form) }}
