{% extends 'dashboard.html.twig' %}

{% block subtitle %}{{ 'Users'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Users'|trans }}</h1>

    <div class="boxesRow">
        {% for user in users %}
            <div class="boxe">
                <p>{{ 'Name'|trans }} : {{ user.name }}</p>
                <p>{{ 'Roles'|trans }} : {{ user.subRoles | join(', ') }}</p>
                <div class="actions">
                    <div class="action">
                        <p><a href="{{ path('users_edit', {'id': user.id}) }}" title="{{ 'Edit'|trans }}">{{ icon('edit') }}</a></p>
                    </div>
                    <div class="action">
                        <p>{{ include('admin/users/_delete_form.html.twig') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
