{% extends 'dashboard.html.twig' %}

{% block subtitle %}Categories {% endblock %}

{% block content %}
    <h1>{{ 'Categories'|trans }}</h1>
    <p><a class="btn btn-primary" href="{{ path('categories_new') }}" title="{{ 'Create a category'|trans }}">{{ 'Create a category'|trans }}</a></p>

    <div class="boxesRow">
        {% for key, category in categories %}
            <div class="boxe">
                <p>{{ 'Name'|trans }} : {{ category.name }}</p>
                <p>{{ 'Roles'|trans }} : {{ category.roles | join(', ') }}</p>
                <p>{{ 'Active'|trans }} : {{ category.isActive ? 'Oui' : 'Non' }}</p>
                <div class="actions">
                    <div class="action">
                        <p><a href="{{ path('categories_edit', {'id': category.id}) }}">{{ icon('edit') }}</a></p>
                    </div>
                    <div class="action">
                        <p>{{ include('admin/categories/_delete_form.html.twig') }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
